$laptop: "screen and (max-width: 1440px)";
$tablet: "screen and (max-width: 1260px)";
$phone: "screen and (max-width: 780px)";
$small-phone: "screen and (max-width: 360px)";
$pcOnly: "screen and (min-width: 1261px)";
